/*

  Insert Galaxy Menu styles here to recreate the look of galaxy-restaurant-menu.pdf.

*/

body {
  background: #f0fff0;
}

header {
    padding: 20px;
    background-color: orange;
    text-align: center;
    border-bottom: 3px solid grey;
}

main {
    width: 95%;
    margin: 15px auto;
}

section {
    border: 1px solid orange;
    padding: 10px;
    margin: 30px 10px;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.feature {
    width: 50%;
    float: left;
    padding: 10px;
}

section.features {
    overflow: hidden;
    clear: both;
}

h3 {
    text-align: center;
    margin: 5px;
}

.combo-item {
    width: 33.33%;
    float: left;
    padding: 10px;
}

section.combo-deal {
    overflow: hidden;
}

.desserts {
    overflow: hidden;
}

.dessert {
    width: 50%;
    float: left;
    padding: 10px;
    position: relative;
}

.dessert h4 {
    position: absolute;
    top: 7%;
    right: 8%;
    background-color: black;
    color: white;
    padding: 13px;
}

.desserts h2 {
    position: absolute;
    top: 45%;
    left: 37.5%;
    width: 25%;
    z-index: 100;
    background-color: white;
    border: 5px dashed brown;
    border-radius: 15px;
    padding: 10px 0;
}
