/*

  Insert Galaxy Menu styles here to recreate the look of galaxy-restaurant-menu.pdf.

*/

body {
  background: #f0fff0;
}

header {
    padding: 20px;
    background-color: orange;
    text-align: center;
    border-bottom: 3px solid grey;
}

main {
    width: 95%;
    margin: 15px auto;
}

section {
    border: 1px solid orange;
    padding: 10px;
    margin: 30px 10px;
}
